<%= content_for(:title) do %>
<%= @conversation.listing.title %>
<% end %>
<%= turbo_frame_tag :conversation do %>
<div class="p-3">  
    <h1>vvvvvvvvvvvvvvvvvv<%= @pagy.last %></h1>

<%= render "messages/messages",
conversation: @conversation, messages: @conversation.messages.for_display.last_10,
pagy: @pagy %>
</div>
<%= render "form", message: @message, conversation: @conversation %> 
<%= turbo_stream.switch_class(dom_id(@conversation), "is-active") %>
<% end %>