<!DOCTYPE html>
<html>
  <head>
     <%= render "layouts/head" %>
    <%# mobile menu not working due to this render head %>
  </head>

  <body>
    <%=  render "application/navbar" %>
    <%=  render "application/flashes"%>
    <%= render "application/breadcrumbs" if breadcrumbs.show? %>

    <main>
      <%= yield %>
    </main>  
  </body>
</html>
